.footer
	p
		strong Thank you for booking.

	h4 Contact details:
	p Phone: 
		strong= company.phone
	p E-mail: 
		a.link(href=company.email)= company.email
	p Web address: 
		a.link(href=company.webAddress)= company.webAddress
	p= company.name